*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    padding-bottom: 15px;

}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: gray;
}
li{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;

}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    

}

.card-btn, .delete-cart-content-btn{
    color: gray;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}
.card{
    display: none;
    background: white;
    border-radius: 15px;
    width: 350px;
    height: 200px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: absolute;
    right: 80px;
    top: 65px;

}
.card.active-cart{
    display: block;
}

.card-top{
    text-align: start;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bolder;
}
.card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    color: gray;
    font-weight: bolder;
    padding: 7px;


}

.profile-pic{
    width: 40%;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.container-right{
    width: 50%;
}

.container-left{
    width: 50%;
}
.App{
    width: 85%;
}


.thumbnail-img{
    width: 80%;
    border-radius: 20px;
    object-fit: fill;
}

h3{
    letter-spacing: 3px;
    color: hsl(26, 100%, 55%);
}

p{
    color: rgb(0, 0, 0);
    opacity: 0.5;
    margin-top: 50px;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}


.percentage{
    color: hsl(26, 100%, 55%);
    background: hsl(25, 100%, 94%);
    border-radius: 5px;
    width: auto;
    margin-left: 10px;
    
}

.prev-price{
    opacity: 0.6;
    font-size: 1.2rem;
}

.product-controller{
    width: 40%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    background: hsl(223, 64%, 98%);
    border: 1px solid hsl(223, 64%, 98%);
    border-radius: 15px;
}
.add, .reduce{
    padding: 10px;
    background: none;
    border: none;
    text-align: center;
    cursor: pointer;
}

.add-to-card-btn{
    color: white;
    background: hsl(26, 100%, 55%);
    border: 1px solid hsl(26, 100%, 55%);
    padding: 20px;
    width: 50%;
    border-radius: 20px;
    font-size: 1.25rem;
    cursor: pointer;
}
.checkout-btn{
    color: white;
    background: hsl(26, 100%, 55%);
    border: 1px solid hsl(26, 100%, 55%);
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    font-size: 1.25rem;
    cursor: pointer;

}


.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.product1-btn img, .product2-btn img, .product3-btn img, .product4-btn img{
    width: 90px;
    height: 90px;
    border-radius: 10px;
}
.product1-btn, .product2-btn , .product3-btn , .product4-btn {
    background: none;
    border: none;
    cursor: pointer;
}


.product1-btn.focused-btn, .product2-btn.focused-btn, .product3-btn.focused-btn, .product4-btn.focused-btn{
    opacity: 0.5;
    border: hsl(26, 100%, 55%) 3px solid;
    border-radius:15px ;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 10px;
}
.btns-modal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 50%;
    margin-top: 10px;
    margin-right: 70px;
}

.modal{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}


.full-cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.full-cart-img{
    width: 50px;
    height: 50px;
    border-radius: 10px;

}

.top-cart-full{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    width: 100%;
}

span{
    color: black;
    margin-left: 5px;
    font-weight: bolder;

}


.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50% );
    z-index: 10;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 40%;

}

.overlay{
    background: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.close-modal-btn{
    color: hsl(26, 100%, 55%);
    background: none;
    border: none;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
}